@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic&subset=latin-ext,latin);

body {
	background-color: #EDEDED;
	font-family: 'Lato', sans-serif;
}

/* ----------Header ----------------*/
#first-row {
	background-color: #00c3b3;
	font-weight: 300;
}
.list-inline li {
	padding-top:5px;
}
.navbar{
	border: none;
	border-radius: 0px;
	background: #FBFBFB;
border-top: 1px solid #d2d6d5;
border-bottom: 5px solid #D4D4D4;
	padding: 5px 0px;
	margin-bottom: 0px;
}
.navbar li a{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-style: bold;
	text-transform: uppercase;
	color: #939292;

}
.right-head {
	color:#fff;
}
.right-head span{
	color:#fff;
}

/* search block*/
.third-row {
	margin-top: -5px;
}
.form-horizontal {
	margin-top: 30px;
	margin-bottom: 30px;
}
.form-control {
	font-size: lato;
	font-weight: 300;
}
.input-lg {
	border-radius:0px;
	border-left-color: #ddd;
	border-left-width: 5px;
	}
 select{
	border-radius:0px;
	border-left-width: 5px;
	}
.input-llg{
	border-left-color: #ff8888;
	border-left-width: 5px;
	border-radius:0px;

}
#first-row a{
	color: #fff !important;
	text-decoration: none;
}


	
.input-md{
	height:44px;
	border-radius: 0px;
	border-left-color: #ddd;
	border-left-width: 5px;
	font-weight: 300;
font-size: 18px;
line-height: 1.33;
}
.rel{
	width: 100%;

}
.ser-icon {
	font-size: 14px;

}
select {
	width: 100%;
	height:43px;
	background-color: white;
	font-weight: 300;
	font-size: 18px;
line-height: 1.33;
	padding-left:16px;
	border-color: #ccc;
	color: #555;

}
.box {
	display: none;
}
.margin-15{
	margin-left: 15px;

}
.margin-7{
	margin-left: 7px;
}
.margin-10{
	margin-left: 10px;
}
.margin-30{
	margin-left: 30px;
}
.margin-60{
	margin-left: 55px;
}
.margin-rl-40{
	margin-right: 40px;
	margin-left: 40px;
}
.margin-top-20 {
	margin-top: 20px;
}
input[type=file] {
display: block;
padding: 5px;
}
input {
	font-size:16px;
}
.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.clear-both{
	clear: both;
}
.tri{
	float: left;
}
.form-group{
	margin-left: 0px;
	margin-right: 0px;
}
.help-block{
	font-size: 10px;
	margin-bottom: 0px;
	line-height: 14px;
	padding-left: 1px;
}


.mandatory {
	color:#2ecc71;
	font-size: 10px;
}
.mandatory-box {
	border-color:#2ecc71;

}
/* LISTING STYLE */
.box-list{
	display: block;
	border: 2px solid #ccc;
	background-color: #FBFBFB;
	margin-bottom:10px;
}
.box-image {
	display: block;
	padding: 0px;
	border-right: 2px solid #ccc;
}
.box-text {
	padding: 5px 0px 0px 20px;
}
.box-texta {
	padding: 5px 0px 0px 0px;
}
.box-textb {
	margin-top:10px;
}
.box-val{
	font-size: 14px;
	font-weight: 300;
	padding-left: 8px;
	color:#000;

}
.down-but {
	padding-left: 50px;
	padding-top: 5px;
	padding-bottom: 10px;
}
.thumb{
	display: block;
	width: 68px;
	height: 68px;
	float: left;
	padding: 10px;
}
.box-thumb {
	display: block;
	padding: 0px 0px 0px 40px;
	font-weight: 300;
	margin-top: 15px;
}

.box-button {
	margin-top: 5px;
	margin-left: 38px;
}
.box-textc{
	background-color: #ccc;
	padding: 5px 0px 5px 10px;
	color: #fff;
	font-style: bold;
}

.last-box{
	padding: 0px;
}
.box-img {
	padding-right: 20px;
}
.mainthumb{
	width: 241px;
	height:185px;
}
.mainthumbs{
	width: 211px;
	height:185px;
}
/** pagigantaion **/



.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #29c36a;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #29c36a;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #29c36a;
  border-color: #29c36a;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
/* Bootstrap customized buttons */

/* Filters */
.filter{
	display: block;
	padding: 0px;
}
.filter-block{
	display: block;
	height: 100%;
	margin-right: 10px;
}
.filter-head {
	width:184px;
	display: block;
	background-color: #CCCCCC;
	text-align: center;
	padding: 8px 0px;
	color:#FBFBFB;
	margin-bottom: 5px;
}

/* Button */
.input-lg , select{
	border-radius:0px;
	border-left-color: #ddd;
	border-left-width: 5px;
	}
.input-llg{
	border-left-color: #ff8888;
	border-left-width: 5px;
	border-radius:0px;

}

.cadimage {
	margin-right: 0px;
	margin-left:0px;
}
.input-md{
	height:44px;
	border-radius: 0px;
	border-left-color: #ddd;
	border-left-width: 5px;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.33;
}
.input-sm{
	height:35px;
	border-radius: 0px;
	border-left-color: #ddd;
	border-left-width: 5px;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.33;
	margin-bottom: 5px;
}
.btn-lg,.btn-group-lg>.btn{
	padding:4px 22px;
	height:40px;
	font-size:16px;
	font-weight: 400;
	}
	.btn-md{
		font-size:14px;
		text-transform: uppercase;

	}

.btn-large {
	font-size:18px;
	padding:20px 50px;
	margin:5px 10px;
}
.btn-success {
	background-color: #2ecc71;
	background-image:none;
	border: 0;
	-webkit-box-shadow: 0 3px 0 rgba(2, 154, 67, 1);
	box-shadow: 0 3px 0 rgba(2, 154, 67, 1);
	line-height: 1.8;
	border-radius: 0px;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
	background-color: #29c36a;
	color:#FFF;
	border: 0;
	-webkit-box-shadow: 0 3px 0 rgba(2, 139, 61, 1);
	box-shadow: 0 3px 0 rgba(2, 139, 61, 1);
	border-radius: 0px;
}
.btn-info {
	background-image:none;
	border: 0;
	-webkit-box-shadow: 0 3px 0 #46b8da;
	box-shadow: 0 3px 0 #46b8da;
	line-height: 1.8;
	border-radius: 0px;

}

.btn-info:hover, .btn-info:focus, .btn-info:active {
	color:#FFF;
	border: 0;
	-webkit-box-shadow: 0 3px 0 #46b8da;
	box-shadow: 0 3px 0 #46b8da;
	border-radius: 0px;
}
.btn-primary {
	background-image:none;
	border: 0;
	-webkit-box-shadow: 0 3px 0 #357ebd;
	box-shadow: 0 3px 0 #357ebd;
	line-height: 1.8;
	border-radius: 0px;
	
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	color:#FFF;
	border: 0;
	-webkit-box-shadow: 0 3px 0 #357ebd;
	box-shadow: 0 3px 0 #357ebd;
	border-radius: 0px;
}
.btn-warning {
	background-image:none;
	border: 0;
	-webkit-box-shadow: 0 3px 0 #eea236;
	box-shadow: 0 3px 0 #eea236;
	line-height: 1.8;
	border-radius: 0px;
	
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
	color:#FFF;
	border: 0;
	-webkit-box-shadow: 0 3px 0 #eea236;
	box-shadow: 0 3px 0 #eea236;
	border-radius: 0px;
}
.btn-danger {
	background-image:none;
	border: 0;
	-webkit-box-shadow: 0 3px 0 #C12E2A;
	box-shadow: 0 3px 0 #C12E2A;
	line-height: 1.8;
	border-radius: 0px;
	
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
	color:#FFF;
	border: 0;
	-webkit-box-shadow: 0 3px 0 #C12E2A;
	box-shadow: 0 3px 0 #C12E2A;
	border-radius: 0px;
}
.btn-default {
	background-image:none;
	border: 0;
	-webkit-box-shadow: 0 3px 0 #357ebd;
	box-shadow: 0 3px 0 #357ebd;
	line-height: 1.8;
	border-radius: 0px;
	
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
	color:#FFF;
	border: 0;
	-webkit-box-shadow: 0 3px 0 #357ebd;
	box-shadow: 0 3px 0 #46b8da;
	border-radius: 0px;
}
/* modal */
.modal-body {
position: relative;
padding: 10px 40px 10px 60px;
}
/*home page */
.scrap{
	display: block;
	font-size: 18px;
	font-weight: 300;
	text-decoration: none;
	margin-left: 75px;
	color: #3c3c3c;
}
.scraph{
	font-size: 18px;
	font-weight: 300;
	text-decoration: none;
	margin-left: 5px;
	color: #3c3c3c;
};
.home-block c:hover{
	text-decoration: none;

}
.metal-box-head {
	display: block;
	font-size: 20px;
	font-weight: 400;

}
.metal-block {
	background-color: #FBFBFB;
	margin-top: 20px;
	padding: 10px 0px;
}
.box-cate {
	display: block;
	padding-left: 16px;
}
.box-cate-list {
	display: block;
	padding-left: 16px;
	font-size: 16px;
	font-weight: 300;
	margin-top: 6px;
}
/* Animated Tagline Switcher */

#home {
  height: 100%;
  overflow: hidden;
  position: relative;

}
  #home .background {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  #home .background img {
    position: relative;
    width: 100%;
  }
  #home h1.welcome {
    position: relative;
    text-align: center;
    font-size: 44px;
    font-weight: 300;
    top: 30%;
  }
    h1.welcome span.tagline {
      position: relative;
      font-size: 20px;

      text-shadow: 0 1px 0 rgba(0,0,0,.2);
      line-height: normal;
      color: #ddd;

    }
      h1.welcome span.tag-change {
        position: relative;
        top: 0;
        display: inline-block;
        text-align: left;
        width: 750px;
        height: 170px;
      }
      h1.welcome span.tag-change a {
        position: absolute;
        top: 0;
        margin: 0;
        padding: 0 5px;
        color: transparent;
        text-shadow: none;

        transition: .5s;
        -webkit-transition: .5s;
      }

      #home h1.welcome span.tag-change a.active { top: 0; }

      /* colors */
      h1.welcome span.tag-change a.active.purple { color: #444; }
      h1.welcome span.tag-change a.active.blue { color: #444; }
      h1.welcome span.tag-change a.active.green { color: #444; }
      h1.welcome span.tag-change a.active.red { color: #444; }


      /* Slide Vertical */
      #home h1.welcome span.tag-change a.vs-out { top: 30px; }
      body.slide-vertical h1.welcome span.tag-change a { top: -20px;}

      /* Flip Horizontal */
      body.flip-horizontal h1.welcome span.tag-change { perspective: 1000; }
      body.flip-horizontal h1.welcome span.tag-change a { 
        transform: rotateY(180deg); 
        transform-origin: 25% 0;
      }
      body.flip-horizontal #home h1.welcome span.tag-change a.active { transform: rotateY(0deg); }

      /* Flip Vertical */
      body.flip-vertical h1.welcome span.tag-change { perspective: 1000; }
      body.flip-vertical h1.welcome span.tag-change a { transform: rotateX(180deg); }
      body.flip-vertical #home h1.welcome span.tag-change a.active { transform: rotateX(0deg); }

      /* Bounce */
      body.bounce #home h1.welcome span.tag-change a.active {
        top: 0; 
        -moz-animation-name:bounce;
        -moz-animation-duration:.8s;
        -moz-animation-fill-mode:backwards;
        
        -webkit-animation-name:bounce;
        -webkit-animation-duration:.8s;
        -webkit-animation-fill-mode:backwards;
        
        animation-name:bounce;
        animation-duration:.8s;
        animation-fill-mode:backwards;
      }
      @-webkit-keyframes bounce {
        0%  { top:-70px; -webkit-animation-timing-function:ease-in;  }
        37%   { top:0; -webkit-animation-timing-function:ease-out; }
        55%   { top:-17.5px; -webkit-animation-timing-function:ease-in;  }
        73%   { top:0; -webkit-animation-timing-function:ease-out; }
        82%   { top:-4.9px; -webkit-animation-timing-function:ease-in;  }
        91%   { top:0; -webkit-animation-timing-function:ease-out; }
        96%   { top:-1.4px; -webkit-animation-timing-function:ease-in;  }
        100%  { top:0; }
      }
      @-moz-keyframes bounce {
        0%  { top:-70px; -moz-animation-timing-function:ease-in;  }
        37%   { top:0; -moz-animation-timing-function:ease-out; }
        55%   { top:-17.5px; -moz-animation-timing-function:ease-in;  }
        73%   { top:0; -moz-animation-timing-function:ease-out; }
        82%   { top:-4.9px; -moz-animation-timing-function:ease-in;  }
        91%   { top:0; -moz-animation-timing-function:ease-out; }
        96%   { top:-1.4px; -moz-animation-timing-function:ease-in;  }
        100%  { top:0; }
      }
      @keyframes bounce {
        0%  { top:-70px; -moz-animation-timing-function:ease-in;  }
        37%   { top:0; -moz-animation-timing-function:ease-out; }
        55%   { top:-17.5px; -moz-animation-timing-function:ease-in;  }
        73%   { top:0; -moz-animation-timing-function:ease-out; }
        82%   { top:-4.9px; -moz-animation-timing-function:ease-in;  }
        91%   { top:0; -moz-animation-timing-function:ease-out; }
        96%   { top:-1.4px; -moz-animation-timing-function:ease-in;  }
        100%  { top:0; }
      }

 #myGallery{
      position:relative;

    }
    #myGallery img{
      display:none;
      position:absolute;
      top:10px;
      left:0;
    }
    #myGallery img.active{
      display:block;
    }
.margin-top-20 {
	padding-top: 20px;
}
.margin-top-10s {
	margin-top: 10px;
}
.margin-top-10 {
	padding-top: 10px;
}
.margin-top-30 {
	margin-top: 30px;
}
.margin-top-40 {
	margin-top: 40px;
}
.margin-top-50 {
	padding-top: 50px;
}
.margin-90 {
	margin-left: 70px;
}/* Sign Up info */
.signup-info {
	font-weight: 700;
}
.signup-text {
	margin-left: 40px;
	text-align: left;
	font-size: 16px;
	font-weight: 500;
	margin-right: 10px;
}
.signup-text-block li{
	line-height: 28px;
	letter-spacing: 0.5px;
}
.signup-info-matter {
	display: block;
	background-color:#78E8A7;
	margin-right: 50px;
margin-left: 40px;
}
/* registration */
.input-lgg {
	border-radius: 0px;
	border-left-width: 5px;
	border-color:#ccc;
}


/* about us */
.about-arrow {
	margin-top:100px;
	margin-left: -30px;
}
.about-img {
	width: 180px;
	height: 180px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.about-block-con{
	margin-top: 10px;
}
.what-block{
	text-align: center;
	padding: 20px 50px;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 44px;
}
.what-block-para{
	font-size: 16px;
	line-height: 26px;
	font-weight: 300;
	padding: 10px 60px;
	text-align:center;
}
.adva {
	display: block;
	padding: 0px 0px 0px 200px;
	font-size: 16px;
}
.sadva{
	display: block;
	padding: 0px 180px 0px 10px;
	font-size: 16px;
}
.adva-light {
	font-weight: 300;
}
.team-a {
margin-left: 230px;
}
.team-top{
	margin-top:70px;
	margin-bottom: 40px;
}
.info-name {
	padding-left: 70px;
}
.info-names {
	padding-left: 90px;
}
.info-img {
	margin-left: 30px;
}
.info-abt {
	margin-right:50px;
}
/*footer */
.footers {
background-color: #D4D4D4;
padding-top: 35px;
color:#000;


}
.low-foot {
	padding-top: 10px;
	padding-bottom: 8px;
	background-color: #a5a4a4;

	
}
.si {
	font-size: 20px;
}
.suppl {
	display: block;
	margin-bottom: 5px;
}
.margin-top-4 {
	margin-top: 6px;
}